<a href="https://colab.research.google.com/github/Tejaswi37/Python-for-data-science/blob/main/Lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
# Step 1: Create sample sales data
data = {
    "Order_ID": [101, 102, 103, 104, 105, 106, 107],
    "Product": ["Laptop", "Smartphone", "Laptop", "Tablet", "Smartwatch", "Smartphone", "Laptop"],
    "Quantity": [2, 5, 1, 3, 4, 2, 1],
    "Price": [50000, 15000, 50000, 20000, 8000, 15000, 50000]
}

df = pd.DataFrame(data)
print("Initial DataFrame:")
print(df, "\n")

Initial DataFrame:
   Order_ID     Product  Quantity  Price
0       101      Laptop         2  50000
1       102  Smartphone         5  15000
2       103      Laptop         1  50000
3       104      Tablet         3  20000
4       105  Smartwatch         4   8000
5       106  Smartphone         2  15000
6       107      Laptop         1  50000

In [3]:
# Step 2: Calculate Total Sale per order
df["Total_Sale"] = df["Quantity"] * df["Price"]
print("DataFrame with Total Sale:")
print(df, "\n")

DataFrame with Total Sale:
   Order_ID     Product  Quantity  Price  Total_Sale
0       101      Laptop         2  50000      100000
1       102  Smartphone         5  15000       75000
2       103      Laptop         1  50000       50000
3       104      Tablet         3  20000       60000
4       105  Smartwatch         4   8000       32000
5       106  Smartphone         2  15000       30000
6       107      Laptop         1  50000       50000

In [4]:
# Step 3: Filter orders where Total Sale > 1000
high_sales = df[df["Total_Sale"] > 1000]
print("Orders with Total Sale > 1000:")
print(high_sales, "\n")

Orders with Total Sale > 1000:
   Order_ID     Product  Quantity  Price  Total_Sale
0       101      Laptop         2  50000      100000
1       102  Smartphone         5  15000       75000
2       103      Laptop         1  50000       50000
3       104      Tablet         3  20000       60000
4       105  Smartwatch         4   8000       32000
5       106  Smartphone         2  15000       30000
6       107      Laptop         1  50000       50000

In [5]:
# Step 4: Find most sold product using groupby
most_sold = df.groupby("Product")["Quantity"].sum().reset_index()
most_sold = most_sold.sort_values(by="Quantity", ascending=False)
top_product = most_sold.iloc[0]
print("Most Sold Product:")
print(top_product, "\n")

Most Sold Product:
Product     Smartphone
Quantity             7
Name: 1, dtype: object

In [11]:
# Step 5: Add Discount column

def discount_calc(sale):
    if sale > 50000:
        return sale * 0.10
    elif sale > 20000:
        return sale * 0.05
    else:
        return 0

df["Discount"] = df["Total_Sale"].apply(discount_calc)
print("DataFrame with Discount:")
print(df, "\n")

# Step 6: Export summary to Excel
summary_df = df[["Order_ID", "Product", "Quantity", "Price", "Total_Sale", "Discount"]]
summary_df.to_excel("sales_summary.xlsx", index=False)

DataFrame with Discount:
   Order_ID     Product  Quantity  Price  Total_Sale  Discount
0       101      Laptop         2  50000      100000   10000.0
1       102  Smartphone         5  15000       75000    7500.0
2       103      Laptop         1  50000       50000    2500.0
3       104      Tablet         3  20000       60000    6000.0
4       105  Smartwatch         4   8000       32000    1600.0
5       106  Smartphone         2  15000       30000    1500.0
6       107      Laptop         1  50000       50000    2500.0