<a href="https://colab.research.google.com/github/Tejaswi37/2303A51944-Batch-27-/blob/main/lab_5_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

customers = pd.DataFrame({
    'customer_id': [1, 2, 3, 4],
    'name': ['Ravi', 'Sneha', 'Amit', 'Priya'],
    'city': ['Delhi', 'Mumbai', 'Delhi', 'Chennai']
})

print("Customers Dataset:")
print(customers, "\n")

transactions = pd.DataFrame({
    'transaction_id': [101, 102, 103, 104, 105, 106],
    'customer_id': [1, 2, 1, 3, 4, 2],
    'amount': [2500, 4000, 1500, 3000, 2200, 3500]
})

print("Transactions Dataset:")
print(transactions, "\n")


merged_df = pd.merge(transactions, customers, on='customer_id', how='inner')
print("Merged Dataset:")
print(merged_df, "\n")


customer_spend = merged_df.groupby(['customer_id', 'name'])['amount'].sum().reset_index()
customer_spend.rename(columns={'amount': 'total_spend'}, inplace=True)
print("Total Spend per Customer:")
print(customer_spend, "\n")
city_spend = merged_df.groupby('city')['amount'].sum().reset_index()
city_spend.rename(columns={'amount': 'city_total_spend'}, inplace=True)
print("City-wise Spending:")
print(city_spend, "\n")


top_spender = customer_spend.loc[customer_spend['total_spend'].idxmax()]
print("Top Spender:")
print(top_spender, "\n")

print("Insights:")
print(f"- {top_spender['name']} is the top spender with ₹{top_spender['total_spend']}.")
print(f"- City-wise, {city_spend.loc[city_spend['city_total_spend'].idxmax(), 'city']} has the highest total spending.")

Customers Dataset:
   customer_id   name     city
0            1   Ravi    Delhi
1            2  Sneha   Mumbai
2            3   Amit    Delhi
3            4  Priya  Chennai

Transactions Dataset:
   transaction_id  customer_id  amount
0             101            1    2500
1             102            2    4000
2             103            1    1500
3             104            3    3000
4             105            4    2200
5             106            2    3500

Merged Dataset:
   transaction_id  customer_id  amount   name     city
0             101            1    2500   Ravi    Delhi
1             102            2    4000  Sneha   Mumbai
2             103            1    1500   Ravi    Delhi
3             104            3    3000   Amit    Delhi
4             105            4    2200  Priya  Chennai
5             106            2    3500  Sneha   Mumbai

Total Spend per Customer:
   customer_id   name  total_spend
0            1   Ravi         4000
1            2  Sneha         7500
2            3   Amit         3000
3            4  Priya         2200

City-wise Spending:
      city  city_total_spend
0  Chennai              2200
1    Delhi              7000
2   Mumbai              7500

Top Spender:
customer_id        2
name           Sneha
total_spend     7500
Name: 1, dtype: object

Insights:
- Sneha is the top spender with ₹7500.
- City-wise, Mumbai has the highest total spending.